<header class="header">
    <nav class="nav">
        <div class="firstPartHeader"><span class="title-header text-transform">Wihp</span></div>
        <div class="secondPartHeader">
            <ul class="">
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CUSTOMER') %}
                    <li><a href="{{ path('home_private') }}" class="">Private Page</a></li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                    <li class="alignCenter"><a href="{{ path('users_list') }}" class="">Liste</a></li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CUSTOMER') %}
                    <li><a href="{{ path('app_logout') }}" class="">Deconnexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>