
body {
    margin:0;
    padding:0
}

header {
    background: #6EB3BE;
}

.nav {
    color: #fff;
    width:50%;
    margin:auto;
    padding:20px;
}


.text-transform {
    text-transform: uppercase;
}

.title-header {
    font-size: 20px;
    font-weight: 900;

}

.homeH1 {
    text-align: center;
    font-size: 50px !important;
    margin: 300px auto;
}

.addUserBtn {
    width: 180px;
    background: #6EB3BE;
    padding: 5px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    color: #FFF;
    float: right;
    margin-bottom: 20px;
}

.wrapper {
    width: 60%;
    margin: 30px auto;
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.wrapper h1 {font-size:22px;}

th, td {
    width:130px;
    padding:20px;
    text-align: center;
}

.tableUsersList {
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    border: none;
    border-collapse: collapse;
}


.tableUsersList td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.tableUsersList thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.tableUsersList thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.tableUsersList tr:nth-child(even) {
    background: #F8F8F8;
}

.optionStatusBtn {
    width: 60px;
}

.loginForm {
    width: 20%;
    margin: 0 auto;
    padding: 0px 15px 15px 15px;
    border: solid 1px #e9e9e9;
}

.inputLoginForm {
    padding: 10px;
    width: 95%;
    border: 1px solid #bababa;
    border-radius: 2px;
}

.btnLogin {
    width: 98%;
    padding: 10px;
    background: #6EB3BE;
    border: navajowhite;
    border-radius: 4px;
    color: #FFF;
    margin-top: 24px;
}

.loginLabel {
    padding: 10px 0px 14px 0px;
    display: block;
    text-size: 20px;
    font-size: 19px;
}

.spanFlashMessage {
    background: #cefeb8;
    padding: 15px;
    margin: 12px 0px;
    display: block;
    width: 390px;
    display: none;
}