{% extends 'base.html.twig' %}

{% block title %}Hello HomePrivateController!{% endblock %}

{% block body %}

<div class="wrapper">
    <h1 class="homeH1">Hello {{ lastname }} {{ firstname }}</h1>
</div>
{% endblock %}
